@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@700&family=Pirata+One&display=swap');

/*Fonts*/
h1, h2 {
    font-family: "Pirata one", sans-serif;
    text-transform: uppercase;
}

.navbar h2 {
    padding-top: 10px;
    font-size: 150%;
    letter-spacing: 3px;
}

p {
    font-family: "Shippori Mincho B1", sans-serif;
}

.btn {
    font-family: "Shippori Mincho B1", sans-serif;
}

.navbar, .nav-link {
    font-family: "Shippori Mincho B1", sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
    }

.active {
        border-bottom: 1px solid rgb(241, 42, 42);
    }
    
.active:hover {
    border-bottom: 1px solid rgb(124, 4, 4);
   }

/*Navbar*/

.navbar {
    background-color: #000 !important;
}

.navbar .navbar-brand {
    color: rgb(241, 42, 42) !important;
}

nav .navbar-nav li a {
    color: rgb(241, 42, 42) !important;
    font-size: 23px;
} 

nav .navbar-nav li a:hover {
    color: rgb(124, 4, 4) !important;
}

/*Hero image*/
#hero-image {
    height: 1000px;
    width: 100%;
    background: url("https://vignette.wikia.nocookie.net/villains/images/7/72/Lovecraft-cthulhu.jpg/revision/latest?cb=20151128095138") no-repeat center center;
    background-size: auto;
    animation-name: cthulu-zoom;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

.hero-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1.4);
    }
}

#cover-text, #cover-text h2 p  {
    color: #000;
    text-align: center;
    padding-top: 63px;
}

#cover-text {
    font-size: 130%;
    width: 300px;
    height: 300px;
    background-color: rgb(241, 42, 42, 0.7);
    top: 290px;
    right:600px;
    position: absolute;
    border-radius: 50px;
}

/*Footer*/
footer {
    height: 100px;
    width: 100%;
    background-color: #000;
    position: relative;
}



/*Media-Query*/

@media only screen and (min-width: 280px) and (max-width: 300px){ 
    nav .nav-brand  {
        letter-spacing: 0.3px;
        font-size: 23px;
    }

    .navbar-toggler-icon {
    font-size: 14px;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1);
    }
}
}
@media only screen and (min-width: 320px) and (max-width: 340px){
      nav .nav-brand {
        font-size: 24px;
        letter-spacing: 1.4px;
    }

    .navbar-toggler-icon {
    font-size: 18px;
    }

    @keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1);
    }
}
}

@media only screen and (min-width: 360px) and (max-width: 370px){
    nav .nav-brand  {
        letter-spacing: 2.5px;
        font-size: 26px;
    }

    .navbar-toggler-icon {
    font-size: 19px;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1);
    }
}
}

@media only screen and (min-width: 375px) and (max-width: 400px){
    nav .nav-brand {
        letter-spacing: 1px;
    }

    @keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1);
    }
}
}

@media only screen and (min-width: 411px) and (max-width: 430px) {
   nav .nav-brand {letter-spacing: 2px;
}

.navbar-toggler-icon {
    font-size: 25px;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1);
    }
}
}

@media only screen and (min-width: 540px) and (max-width: 580px){
.navbar-toggler-icon {
    font-size: 30px;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1);
    }
}
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
    nav .nav-brand {
        letter-spacing: 3px;
    }

    .navbar-toggler-icon {
    font-size: 35px;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1);
    }
}
}

/*Buttons*/
.btn {
    background-color: #000;
    color: rgb(241, 42, 42);
    border: 2px solid #000;
   
}

.btn:hover {
     background-color: rgb(241, 42, 42);
    color: #000;
    border: 2px solid #000;
}