/*Navbar*/
.navbar .navbar-brand {
    color: rgb(241, 42, 42) !important;
}

nav .navbar-nav li a {
    color: rgb(241, 42, 42) !important;
    font-size: 23px;
} 

.navbar .navbar-brand:hover {
    color: rgb(124, 4, 4) !important;
} 

nav .navbar-nav li a:hover {
    color: rgb(124, 4, 4) !important;
}

/*Hero image*/
#hero-image {
    height: 1000px;
    width: 100%;
    background: url("https://vignette.wikia.nocookie.net/villains/images/7/72/Lovecraft-cthulhu.jpg/revision/latest?cb=20151128095138") no-repeat center center;
    background-size: auto;
    animation-name: cthulu-zoom;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}

.hero-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1.4);
    }
}

#cover-text, #cover-text h2 p  {
    color: #000;
    text-align: center;
    padding-top: 35px;
}

#cover-text {
    font-size: 130%;
    width: 300px;
    height: 300px;
    padding: 40px, 0, 0, 10px;
    background-color: rgb(241, 42, 42, 0.7);
    top: 290px;
    right:600px;
    position: absolute;
    border-radius: 50px;
}
/*Media-Query*/

@media only screen and (max-width: 290px) {
    nav h2 {
        font-size: 18px;
    }

    .navbar-toggler-icon {
    font-size: 20px;
}

}

@media only screen and (min-width: 320px) and (max-width: 350px){
      nav h2 {
        font-size: 21px;
    }

    .navbar-toggler-icon {
    font-size: 20px;
    }
}

/*Buttons*/
.btn {
    background-color: #000;
    color: rgb(241, 42, 42);
    border: 2px solid #000;
}

.btn:hover {
     background-color: rgb(241, 42, 42);
    color: #000;
    border: 2px solid #000;
}