@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@700&family=Syncopate:wght@400;700&display=swap');
/*Fonts*/
h1, h2 {
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
}

.navbar h2 {
    padding-top: 10px;
    font-size: 120%;
    
}

p {
    font-family: "Shippori Mincho B1", sans-serif;
}

.btn {
    font-family: "Shippori Mincho B1", sans-serif;
}

.navbar, .nav-link {
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
}
/*Navbar*/
.navbar {
    background-color: #000 !important;
}

.navbar .navbar-brand {
    color: rgb(241, 42, 42) !important;
}

nav .navbar-nav li a {
    color: rgb(241, 42, 42) !important;
    font-size: 23px;
} 

nav .navbar-nav li a:hover {
    color: rgb(124, 4, 4) !important;
}

/*Hero image*/
#hero-image {
    height: 1000px;
    width: 100%;
    background: url("https://vignette.wikia.nocookie.net/villains/images/7/72/Lovecraft-cthulhu.jpg/revision/latest?cb=20151128095138") no-repeat center center;
    background-size: auto;
    animation-name: cthulu-zoom;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}

.hero-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes cthulu-zoom {
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1.4);
    }
}

#cover-text, #cover-text h2 p  {
    color: #000;
    text-align: center;
    padding-top: 35px;
}

#cover-text {
    font-size: 130%;
    width: 300px;
    height: 300px;
    padding: 0px, 0px, 0px, 0px;
    background-color: rgb(241, 42, 42, 0.7);
    top: 290px;
    right:600px;
    position: absolute;
    border-radius: 50px;
    border: 2px solid #000;
 
}

/*Footer*/
footer {
    height: 100px;
    width: 100%;
    background-color: #000;
    position: relative;
}

.company-info p {
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-bottom: 0;
    color: rgb(241, 42, 42);
    text-align: center;
}


/*Media-Query*/

@media only screen and (max-width: 290px) {
    nav h2 {
        font-size: 18px;
    }

    .navbar-toggler-icon {
    font-size: 20px;
}

}

@media only screen and (min-width: 320px) and (max-width: 350px){
      nav h2 {
        font-size: 21px;
    }

    .navbar-toggler-icon {
    font-size: 20px;
    }
}

/*Buttons*/
.btn {
    background-color: #000;
    color: rgb(241, 42, 42);
    border: 2px solid #000;
   
}

.btn:hover {
     background-color: rgb(241, 42, 42);
    color: #000;
    border: 2px solid #000;
}